DOCKER_NETWORK=onvif_macvlan
VIRTUALWEBCAM_IMAGE=virtualwebcam:latest
CONTAINER_PREFIX=virtualwebcam
CAMERA_RTSP_PORT=554
BACKEND_PORT=8177
FRONTEND_PORT=5177
HOST_IF=br0
SUBNET=192.168.5.0/24
GATEWAY=192.168.5.1
IP_RANGE=192.168.5.208/28
HOST_MACVLAN_IP=192.168.5.210
ROUTE_CIDR=192.168.5.208/28
