DOCKER_NETWORK=onvif_macvlan
VIRTUALWEBCAM_IMAGE=virtualwebcam:latest
CONTAINER_PREFIX=virtualwebcam
CAMERA_RTSP_PORT=554
RTSP_GATEWAY_HOST=192.168.5.198
RTSP_GATEWAY_PORT=554
RTSP_NETWORK=virtualwebcam_rtsp
DB_BACKUP_PATH=/data/backups
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123456
SESSION_SECRET=change-this-session-secret
BACKEND_PORT=8177
FRONTEND_PORT=9528
HOST_IF=br0
SUBNET=192.168.5.0/24
GATEWAY=192.168.5.1
IP_RANGE=192.168.5.192/26
HOST_MACVLAN_IP=192.168.5.199
ROUTE_CIDR=192.168.5.192/26
